/* Hero Section Devider */
.custom-shape-divider-bottom-1741746772 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1741746772 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1741746772 .shape-fill {
    fill: var(--bg-gray);
}

/* Footer Section Devider */
.custom-shape-divider-top-1742766818 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1742766818 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}

.custom-shape-divider-top-1742766818 .shape-fill {
    fill: var(--bg-gray);
}

/* Datepicker colors */
.datepicker-cell.selected {
    background-color: var(--color-primary-700) !important;
}

.datepicker-cell.range,
.datepicker-cell.range-start,
.datepicker-cell.range-end {
    background-color: var(--color-primary-200) !important;
}

.datepicker-cell.selected {
    background-color: var(--color-primary-700) !important;
}

/* Sorting Radio Buttons */
.sort-radio-label:has(> input:checked) {
    background-color: var(--color-primary-200);
}

/* Slider */
img.image-gallery-image {
    /* object-fit: cover !important; */
    /* height: 100%; */
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh !important;
}
