/* Hero Section Devider */
.custom-shape-divider-bottom-1741746772 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1741746772 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1741746772 .shape-fill {
    fill: var(--bg-gray);
}

/* Footer Section Devider */
.custom-shape-divider-top-1742766818 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1742766818 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}

.custom-shape-divider-top-1742766818 .shape-fill {
    fill: var(--bg-gray);
}

/* Datepicker colors */
.datepicker-cell.selected {
    background-color: var(--color-primary-700) !important;
}

.datepicker-cell.range,
.datepicker-cell.range-start,
.datepicker-cell.range-end {
    background-color: var(--color-primary-200) !important;
}

.datepicker-cell.selected {
    background-color: var(--color-primary-700) !important;
}

/* Sorting Radio Buttons */
.sort-radio-label:has(> input:checked) {
    background-color: var(--color-primary-200);
}

/* <==== react-date-picker ====> */
.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__tab-loop {
    position: absolute;
}

.react-datepicker {
    position: relative;
    z-index: 999;
    font-family: "Quicksand";
    font-weight: 700;
    border-radius: 0.75rem;
    box-shadow: 0 2px 2px 0 rgba(156, 163, 175, 0.8);
    border: 1px solid #e5e7eb;
    overflow: hidden;
}
.react-datepicker__close-icon::after {
    background-color: transparent;
    color: var(--color-gray-500);
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.react-datepicker__close-icon:hover::after {
    color: var(--color-primary-700);
}

.react-datepicker__header {
    background-color: var(--color-gray-100);
    border-bottom: 1px solid var(--color-gray-200);
}

.react-datepicker__current-month {
    font-family: "Quicksand";
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background-color: var(--color-primary-700);
}

.react-datepicker__day--selected:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--in-selecting-range:not(
        [aria-disabled="true"]
    ):hover,
.react-datepicker__month-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--in-selecting-range:not(
        [aria-disabled="true"]
    ):hover,
.react-datepicker__quarter-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--in-selecting-range:not(
        [aria-disabled="true"]
    ):hover,
.react-datepicker__year-text--in-range:not([aria-disabled="true"]):hover {
    background-color: var(--color-primary-700);
}

.react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--keyboard-selected:not(
        [aria-disabled="true"]
    ):hover,
.react-datepicker__quarter-text--keyboard-selected:not(
        [aria-disabled="true"]
    ):hover,
.react-datepicker__year-text--keyboard-selected:not(
        [aria-disabled="true"]
    ):hover {
    background-color: var(--color-primary-700);
}

.react-datepicker__day--in-selecting-range:not(
        .react-datepicker__day--in-range,
        .react-datepicker__month-text--in-range,
        .react-datepicker__quarter-text--in-range,
        .react-datepicker__year-text--in-range
    ),
.react-datepicker__month-text--in-selecting-range:not(
        .react-datepicker__day--in-range,
        .react-datepicker__month-text--in-range,
        .react-datepicker__quarter-text--in-range,
        .react-datepicker__year-text--in-range
    ),
.react-datepicker__quarter-text--in-selecting-range:not(
        .react-datepicker__day--in-range,
        .react-datepicker__month-text--in-range,
        .react-datepicker__quarter-text--in-range,
        .react-datepicker__year-text--in-range
    ),
.react-datepicker__year-text--in-selecting-range:not(
        .react-datepicker__day--in-range,
        .react-datepicker__month-text--in-range,
        .react-datepicker__quarter-text--in-range,
        .react-datepicker__year-text--in-range
    ) {
    background-color: var(--color-primary-300);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: var(--color-primary-100);
}
