/* Hero Section Devider */
.custom-shape-divider-bottom-1741746772 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1741746772 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1741746772 .shape-fill {
    fill: var(--bg-gray);
}

/* Footer Section Devider */
.custom-shape-divider-top-1742766818 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1742766818 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}

.custom-shape-divider-top-1742766818 .shape-fill {
    fill: var(--bg-gray);
}

/* Sorting Radio Buttons */
.sort-radio-label:has(> input:checked) {
    background-color: var(--color-primary-200);
}
