@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=League+Spartan:wght@400;500;700&family=Lilita+One&display=swap");
@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #fdf4f2;
    --color-primary-100: #fbe9e4;
    --color-primary-200: #f8d6ce;
    --color-primary-300: #f5c0b3;
    --color-primary-400: #f1ad9c;
    --color-primary-500: #ee9781;
    --color-primary-600: #eb856b;
    --color-primary-700: #e76f51;
    --color-primary-800: #b83919;
    --color-primary-900: #5a1c0c;
    --color-primary-950: #2d0e06;
}

:root {
    --primary: #e76f51; /* Orange (buttons, highlights) */
    --primary-dark: #ca4827; /* Orange (buttons, highlights) */
    --secondary: #1d3557; /* Dark Blue (text, logo) */
    --bg-sky: #a8dadc; /* Light Blue (header background) */
    --bg-gray: #e6e6e6; /* Light Gray (lower section background) */
    --text-dark: #1a1a1a; /* Dark text */
    --text-light: #ebebeb; /* White text */
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--primary);
    color: white;
    text-shadow: none;
}

::-moz-selection {
    background: var(--primary);
    color: white;
    text-shadow: none;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--bg-gray);
    /* font-size: 1.1em; */
}

a,
button {
    transition: all 0.4s ease;
    font-weight: bold;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
}

/* ======================================================= */

/* Hero Section Devider */
.custom-shape-divider-bottom-1741746772 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1741746772 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1741746772 .shape-fill {
    fill: var(--bg-gray);
}

/* Footer Section Devider */
.custom-shape-divider-top-1742766818 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1742766818 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}

.custom-shape-divider-top-1742766818 .shape-fill {
    fill: var(--bg-gray);
}

/* ======================================================== */

/* Slide-down animation */
.slide-down {
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* ======================================================== */

.sort-radio-label:has(> input:checked) {
    background-color: var(--color-primary-200);
}

